*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
}
nav{
    display: flex;
    justify-content: space-around;
    align-items: center; 
    min-height: 8vh;
    background: #494849;
}
.logo{
    color: rgb(226, 226, 226);
    text-transform: uppercase ;
    font-family:Georgia, 'Times New Roman', Times, serif;
    letter-spacing: 5px;
    font-size: 20px;
}
.slidercontainer{
    color: rgb(226, 226, 226);
    letter-spacing: 2px;
    font-size: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.slider{
    display:block;
    text-align: center;
    margin-right:8px;
}
.nav-links{
    display: flex;
    justify-content: space-around;
    width: 40%;
}
.nav-links li{
    list-style: none;
    text-align: center;
}
.nav-links a{
    color: rgb(226, 226, 226);
    text-decoration: none;
    letter-spacing: 3px;
    font-weight: bold;
    font-size: 14px;
}
.nav-links a:hover{
    color: rgb(0, 0, 0);
}
.burger{
    display: none;
}
.nav-links div{
    width: 2px;
    height: 15px;
    background-color: rgb(226, 226, 226);
    margin: 5px;
}
a.randomizeButton{
    display:inline-block;
    padding: 0.35em 1.2em;
    border: 0.1em solid rgb(226, 226, 226);
    margin: 0 0.3em 0.3em 0;
    border-radius: 0.12em;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    color: rgb(226, 226, 226);
    text-align: center;
    transition: all 0.2s;
}
a.randomizeButton:hover{
    color:#000000;
    background-color: rgb(255, 255, 255);
}
@media all and (max-width:30em){
    a.randomizeButton{
        display: block;
        margin: 0.4em auto;
    }
}
@media screen and (max-width:1250px) {
    .nav-links{
        display: flex;
        justify-content: space-around;
        width: 40%;
    }
}
@media screen and (max-width:1000px) {
    .nav-links{
        display: flex;
        justify-content: space-around;
        width: 40%;
    }
}
@media screen and (max-width:900px) {
    .nav-links{
        position:absolute;
        right:0px;
        height: 92vh;
        top: 8vh;
        background-color: #494849;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 50%;
        transform: translateX(100%); /*moves out of the screen*/
        transition: transform 0.5s ease-in;
    }
    .nav-links div{
        display: none;
        width: 2px;
        height: 15px;
        background-color: rgb(226, 226, 226);
        margin: 5px;
    }
    .nav-links li[navitems='0'] {
        opacity: 0;
    }
    .burger{
        display: block;
        cursor: pointer;
    }
    body{
        overflow-x:hidden;
    }
    .nav-links li[navitems='1']{
        animation: navLinkFade 1.5s 1;
    }
}
.nav-active{
    transform: translateX(0%);
}
@keyframes navLinkFade{
    from{
        opacity: 0;
        transform: translateX(50px);
    }
    to{
        opacity: 1;
        transform: translateX(0px);
    }
}